@import "tailwindcss";

@theme {
  --color-primary: #19B9C6;
  --color-primary-dark: #149AA5;
  --color-text-main: #1F2937;
  --color-text-secondary: #6B7280;
  --color-bg-page: #F5F5F5;
  --color-disabled: #C4C4C4;

  --font-cairo: var(--font-cairo);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--color-bg-page);
}